footer{
  width: 100%;
  height: 200px;
  background-color: rgba(243, 243, 244, 1);
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  .footr {
    width: 100%;
    height: 90%;
    display: flex;
  }
  .footr .info {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: sans-serif;
    justify-content: space-around;
    padding-left: 5%;
    color: rgba(58, 57, 57, 1);
  }
  .footr .info .informa {
    display: flex;
    gap: 10px;
  }

  .footr .emailll {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footr .emailll .phra {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .footr .emailll .abonner {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  .footr .emailll .abonner .mail_footer {
    width: 70%;
    height: 40px;
    border: 1px rgba(144, 202, 249, 1) solid;
  }
  .footr .emailll .abonner .ok {
    height: 40px;
    width: 30%;
    border-radius: 0px;
    background-color: rgba(144, 202, 249, 1);
    color: black;
  }
  .chengement {
    display: flex;
    height: 100%;
    width: 70%;
  }
  .footr .fb {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 36px;
    padding-right: 5%;

    justify-content: space-around;
  }
  .ellise {
    width: 8%;
    border-radius: 100%;
    background-color: rgba(117, 107, 107, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copi {
    border-top: 1px rgba(58, 57, 57, 1) solid;
    color: rgba(58, 57, 57, 1);
    width: 100%;
    height: 25%;
    border-bottom: 3px solid rgb(158, 152, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
  }
  @media (max-width: 440px) {
    .footr {
      font-size: 14px;
    }
    .chengement {
      display: flex;
      flex-direction: column-reverse;
    }
    .footr .info {
      font-size: 18px;
      justify-content: end;
      width: 100%;
      padding-left: 14px;
    }
    .footr .emailll {
      width: 128%;
    }
    .footr .emailll .phra {
      display: none;
    }
    .copi {
      display: none;
    }
    .fb {
      margin: 10px 10px;
      font-size: 30px;
    }
    .ellise {
      width: 52%;
      height: 22%;
    }
  }
}
