@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#menu {
  display: none;
}

@media (max-width: 440px) {
  #menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 104vh;
    top: 0;
    left: 0;
    background-color: #4fa8f0;
    margin-top: -182%;
  }
  #menu i {
    position: absolute;
    top: 6%;
    right: 3%;
    font-size: 36px;
    color: white;
  }
  .menuieu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 25%;
    right: 34%;
    gap: 40px;
    color: white;
    font-size: 20px;
  }
  .menuieu li a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menuieu li a button {
    width: 95px;
    height: 35px;
    color: #4fa8f0;
    background-color: white;
    border-radius: 8px;
    border: 1px black solid;
  }
}

.gestion_P {
  background-color: #f3f3f4;
  position: absolute;
  top: 21%;
  left: 16%;
  width: 70vw;
  height: 70vh;
  border-radius: 12px;
}

.header_T {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15%;
}

.ajouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  height: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  background-color: #4fa8f0;
  border-radius: 8px;
  margin: 0px 20px;
  font-family: "inter", sans-serif;
  color: white;
  cursor: pointer;
}

.ajouter i {
  font-size: 30px;
}

.all {
  font-size: 24px;
  font-family: "inter", sans-serif;
  padding-left: 5%;
}

.scroll {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  color: #939090;
  font-size: 18px;
  height: 60px;
}

.list {
  display: none;
}

.list table tr th i {
  display: none;
}

#flex {
  display: none;
}

table td {
  text-align: center;
  height: 60px;
  border-bottom: 1px solid rgba(188, 186, 186, 0.64);
}

.HEADER {
  width: 100%;
}

#table_responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  display: none;
}

.action_D {
  width: 20%;
}

.action_BOttonat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action_BOttonat form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action_BOttonat input {
  width: 30%;
  height: 40%;
  border: none;
  border-radius: 10px;
}

.but1 {
  background-color: rgba(14, 221, 35, 0.72);
  width: 40%;
  height: 40%;
  border: none;
  border-radius: 8px;
}

.but2 {
  background-color: rgba(254, 23, 23, 0.9);
  width: 40%;
  height: 40%;
  border: none;
  border-radius: 8px;
}

#table_responsive {
  display: none;
}

@media (max-width: 440px) {
  .gestion_P {
    top: 21%;
    left: 7%;
    width: 86vw;
    height: 74vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gestion_P .header_T {
    display: none;
  }
  .hi {
    display: none;
  }
  .add {
    display: none;
  }
  table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  table td {
    border-bottom: none;
  }
  .action_BOttonat {
    width: 80%;
    height: 90px;
  }
  .action_BOttonat button {
    width: 50%;
    height: 40%;
  }
  #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 37px;
    position: absolute;
    bottom: -2%;
    left: 44%;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #f3f3f4;
    top: 21%;
    left: 16%;
    width: 70vw;
    height: 70vh;
    border-radius: 12px;
    z-index: -1;
  }
  .list table tr {
    border-bottom: 1px solid black;
    border-collapse: collapse;
  }
  .list table tr th {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .list table tr th i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 37px;
  }
  #table_responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.update_popap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update_popap .popap {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 12px;
}

.update_popap .titleee {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: #4fa8f0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 20px;
}

.update_popap .titleee i {
  font-size: 44px;
  margin-right: 20px;
  cursor: pointer;
}

.update_popap #form {
  width: 100%;
  height: 80%;
}

.update_popap .input1,
.update_popap .input2,
.update_popap .input3 {
  width: 100%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update_popap .input3 {
  height: 44%;
}

.update_popap .input1 input,
.update_popap .input2 input,
.update_popap .input3 input {
  outline: none;
  border: none;
  width: 90%;
  background-color: white;
}

.update_popap .input3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.update_popap .input1 div,
.update_popap .input2 div {
  border: 2px solid rgba(196, 196, 196, 0.36);
  border-radius: 12px;
  width: 40%;
  height: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
}

.update_popap .input3 div {
  width: 89%;
  height: 24%;
  border: 2px solid rgba(196, 196, 196, 0.36);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
}

.update_popap .input3 #brak {
  width: 26%;
  height: 25%;
  background-color: #4fa8f0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.update_popap .input3 button:hover {
  background-color: white;
  color: #4fa8f0;
  border: 2px solid #4fa8f0;
}

.amin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.amin .popap {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 12px;
}

.amin .titleee {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  color: #4fa8f0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 20px;
}

.amin .titleee i {
  font-size: 44px;
  margin-right: 20px;
  cursor: pointer;
}

.amin #form {
  width: 100%;
  height: 80%;
}

.amin .input1,
.amin .input2,
.amin .input3 {
  width: 100%;
  height: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amin .input3 {
  height: 44%;
}

.amin .input1 input,
.amin .input2 input,
.amin .input3 input {
  outline: none;
  border: none;
  background-color: white;
  width: 90%;
}

.amin .input3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amin .input1 div,
.amin .input2 div {
  border: 2px solid rgba(196, 196, 196, 0.36);
  border-radius: 12px;
  width: 40%;
  height: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
}

.amin .input3 div {
  width: 89%;
  height: 24%;
  border: 2px solid rgba(196, 196, 196, 0.36);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
}

.amin .input3 #brak {
  width: 26%;
  height: 25%;
  background-color: #4fa8f0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.amin .input3 button:hover {
  background-color: white;
  color: #4fa8f0;
  border: 2px solid #4fa8f0;
}

@media (max-width: 440px) {
  .update_popap .popap,
  .amin .popap {
    width: 70%;
  }
  .input1,
  .input2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .update_popap .input2 div,
  .update_popap .input1 div,
  .amin .input2 div,
  .amin .input1 div {
    width: 90%;
    gap: 8px;
  }
  .update_popap .input3 div,
  .amin .input3 div {
    gap: 8px;
  }
  .update_popap .title,
  .amin .title {
    font-size: 18px;
    padding-left: 17px;
    padding-top: 21%;
  }
  .update_popap .title i,
  .amin .title i {
    position: absolute;
    top: 23%;
    right: 14%;
  }
  .update_popap #form,
  .amin #form {
    padding-top: 2%;
    height: 95%;
  }
  .update_popap .input3,
  .amin .input3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 7px;
    gap: 10px;
  }
  .update_popap .input3 button,
  .amin .input3 button {
    width: 54%;
    height: 23%;
    margin-bottom: 28%;
  }
}
/*# sourceMappingURL=patient.css.map */